* {
    box-sizing: border-box;
    list-style: none;
}

.wrapper {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    
}

@media (min-width: 767px) {
    .wrapper {
        margin: 0px auto;
        padding: 0px 15px;
        
    }
}

@media (min-width: 992px) {
    .wraper {
        margin: 0px auto;
        padding: 0px 15px;
        
    }
}

.header {
    
}

.block {
    
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;   
    background-color: blanchedalmond; 
    height: 3rem;
}

a, a:hover {
    text-decoration: none;
    color: mediumpurple;
}

